
<div class="wrap" style="text-align: center" >
  <img><%= image_tag 'online-store.jpg', :class => "blur "%></img>
  <h3 class="desc">MiTienditaOnline</h3>
</div>

<p style="text-align: center">Este es un tienda, pero esta en construccion no me apures</p>
